root: true

parser: babel-eslint

extends: [standard, standard-react, prettier, prettier/react]
plugins: [babel, react, prettier]

env:
  browser: true
  es6: true
  node: true

globals:
  __DEV__: false
  __COVERAGE__: false
  __TEST__: false

rules:
  semi: [2, 'never']
  react/prop-types: 0
  react/jsx-no-bind: 0
  no-unreachable: 0
  eqeqeq: 0
  standard/computed-property-even-spacing: 0
  no-console: 'error'
  jsx-quotes: ['error', 'prefer-double']
  prettier/prettier: ['error', {
    singleQuote: true,
    trailingComma: 'none',
    semi: false,
    bracketSpacing: true,
    jsxBracketSameLine: true,
    printWidth: 80,
    tabWidth: 2,
    useTabs: false
  }]
